.app-content {
  padding: 20px;
}

body {
  background-color: #EEEEEE;
  color: #3C4858;
  min-height: 100vh;
}

body.inverse {
  background: #333333;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

a {
  color: #3C4858;
}

a:hover, a:focus {
  color: #2e6da4;
  text-decoration: none;
}

a.text-info:hover, a.text-info:focus {
  color: #00a5bb;
}

a .material-icons {
  vertical-align: middle;
}

/* Material */
md-slider {
  width: 90%;
}

md-card {
  color: #fafafa;
}

.slider {
  font-size: larger;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

md-grid-tile {
  background: #FAFAFA;
}

md-grid-tile-footer {
  background: #ecf0f1;
}

.app-sidenav {
  margin-top: 20%;
  padding: 10px;
  min-width: 100px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.error-card {
  width: 500px;
}

/* End material */

small {
  font-size: 6px;
  opacity: .2;
}

code {
  word-break: break-all;
}

@media (max-width: 400px) {
  header {
    display: none;
  }
}

img {
  width: 100%;
}

.sebm-google-map-container {
  height: 100vh;
  width: 140vh;
}

/* New loader */

.loader {
  margin: 0 auto;
  width: 60px;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  text-align: center;
  top: 50%;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 2s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #3cba54;
  }
  25% {
    stroke: #f4c20d;
  }
  50% {
    stroke: #db3236;
  }
  100% {
    stroke: #4885ed;
  }
}

/* End new loader */

