<mz-card [backgroundClass]="'blue-grey lighten-4'">
  <mz-card-title>
    Hasil Rekomendasi <span class="right flow-text"><rating [(ngModel)]="rating" [max]="5"
                                                            (ngModelChange)="survey()"
                                                            [readonly]="disabled || noData"></rating></span>
  </mz-card-title>
  <mz-card-content>
    <div class="row">
      <div class="col s12">
        <mz-card *ngIf="noData" [backgroundClass]="'blue-grey lighten-3'">
          <mz-card-content>
            <span class="flow-text">Maaf, sistem belum bisa memberikan rekomendasi. </span>
          </mz-card-content>
        </mz-card>
      </div>
      <div class="col s12 l6" *ngFor="let destination of destinations; let i = index;">
        <card-rec [destination]="destination" (onClicked)="onClicked($event)" (checked)="isChecked($event)"></card-rec>
      </div>
    </div>
    <pagination *ngIf="displayPagination" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems"
                [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)" [maxSize]="4"></pagination>
  </mz-card-content>
  <mz-card-action>
    <button mz-button class="blue darken-3" *ngIf="destinations" md-raised-button color="primary"
            (click)="showMaps()">Google Maps
    </button>
    <button mz-button class="blue darken-3" *ngIf="destinations" md-raised-button color="primary" (click)="survey()">Survey
    </button>
    <span class="right">
      <mz-spinner
        [color]="'blue'"
        [size]="'small'" *ngIf="!recommendation || !destinations">
    </mz-spinner>
    </span>
    <mz-card *ngIf="showMap" class="'blue-grey lighten-3'">
      <mz-card-content>
        <agm-map [zoom]="12" [latitude]="-6.9034443" [longitude]="107.5731167">
          <agm-marker *ngFor="let dest of destClick" [latitude]="dest.googlePlace.lat"
                      [longitude]="dest.googlePlace.lng">
          </agm-marker>
        </agm-map>
      </mz-card-content>
    </mz-card>
  </mz-card-action>
</mz-card>
